<%- include('../partials/header') %>
<div class="bg-color">
    <div class="container">
        <div class="row justify-content-around">
            <div class="mt-3 p-3 col-5 border rounded bg-light shadow">
                <h3 class="text-center">Sign Up</h3>
                <form class="auth-form" action="/signup" method="POST" onsubmit="validate(event)">
                    <div class="form-group">
                        <input type="text" class="form-control" id="username" aria-describedby="usernamehelp" placeholder="User Name" name="username" required onchange="handleUsernameChange(event)">
                        <small id="usernameerror"></small>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <input type="text" class="form-control" id="firstname" placeholder="First Name" name="firstname" required>
                        </div>
                        <div class="form-group col">
                            <input type="text" class="form-control" id="lastname" placeholder="Last Name" name="lastname" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <input type="password" placeholder="Password" class="form-control" id="password" name="password" onkeydown="analyze(event)">
                            <small id="error"></small>
                            <small class="form-text text-muted">- must contain alphanumeric and special characters</small>
                            <small class="form-text text-muted">- must contain lower and upper case letters</small>
                            <small class="form-text text-muted">- must be atleast 8 characters long</small>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>