body, html {
  height: 100%;
  width: 100%;
}

.bg {
  padding-top: 3rem;
  /* Full height */
  height: 100%;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-color {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background: #aaf0d1;
  background-image: url("/images/items/backimg.jpg");
  background-size: cover;
  background-blend-mode: darken;
}
.sidename{
  background-color: #aaf0d1;
  height: 100vh ! important;
}
.title1{
  font-family: 'Lobster', cursive;
  font-size: 75px;
}

.title2{
  font-size: 25px;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;               
  background-color:black;
  height: 0.5px;
}

#mainDiv {
  z-index: 1;
  padding-top: 10%;
}

.container {
  padding-top: 3.6rem;
  margin-left: 0;
}

.auth-form {
  margin: auto;
  width: 100%;
}

#usernameerror, #error {
  color: red;
}

.card {
  margin: 0 10px;
}

.card-img-top {
  height: 250px;
}

.img-fluid {
  min-width: 300px;
  min-height: 300px;
  max-width: 500px;
  max-height: 500px;
}

.cart-img {
  width: 135px;
  height: 135px;
}

#uploaded_img {
  max-width: 400px;
  max-height: 450px;
}

.pagination > span {
  margin: auto 10px;
}

.icon {
  width: 20x;
  height: 20px;
}

.card-title {
  font-size: x-large;
  font-weight: bolder;
}

.price {
  font-size: x-large;
  font-weight: 800;
}

.price-lite {
  font-size: larger;
  font-weight: 500;
}

.del-cart {
  padding-top: 0em;
}